<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="p0224.FoodInfoMapper">
  <select id="selectFoodInfos" resultType="map">
    select FI_NUM, FI_NAME, FI_PRICE from FOOD_INFO
  <where>
  	<if test='fiName != null and fiName !=""'>
  		AND FI_NAME LIKE CONCAT('%',#{fiName},'%')
  	</if>
  	<if test='fiPrice != 0'>
  		AND FI_PRICE = #{fiPrice}
  	</if>
  </where>
  </select>
  <select id="selectFoodInfo" resultType="map">
  	select FI_NUM, FI_NAME, FI_PRICE FROM FOOD_INFO WHERE FI_NUM=#{fiNum}
  </select>
</mapper>